# Agenda

- Series (1d data structures)
- Indexes
- Series methods
- `nan` and Pandas
- Data frames (2d data structures)

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Apache Arrow

Apache Arrow is a high-speed, in-memory database optimized for the kinds of things we do with NumPy and Pandas. It has ways to work with Pandas, R, and Spark (among other things). It also has a disk version that you can use to save and retrieve data.

As of Pandas 2.0 (which came out a few weeks ago), you can use Arrow instead of NumPy in the back end.

For some operations (such as searching), it's *far* faster than NumPy.

For other operations (such as grouping), it's actually much slower.

In [3]:
# let's create a series!

# this is similar to creating a 1D NumPy array
# we pass a list of Python objects (or of a NumPy array), and we get a series out of it

s = Series([10, 20, 30, 40, 50])

In [4]:
type(s)

pandas.core.series.Series

In [6]:
# when we look at the representation of s,
# we see the index (along the left side) and the 
# values (on the right side).

# we also see the dtype -- just like NumPy arrays, series have dtypes

s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# let's look at the values in our series

s.values   # it's a NumPy array!

array([10, 20, 30, 40, 50])

In [9]:
# because we have NumPy arrays in the back end, so many of the things
# we've learned about NumPy also apply to Pandas series

s.mean()

30.0

In [10]:
s.std()

15.811388300841896

In [11]:
s.min()

10

In [12]:
s.max()

50

In [13]:
s.sum()

150

In [14]:
s.count()   # how many non-NaN values are there?

5

In [15]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
# I can retrieve with []  -- but we'll talk about this in a moment
s[2]

30

In [17]:
# fancy indexing
s[[2, 4]]

2    30
4    50
dtype: int64