# Agenda

- Series (1d data structures)
- Indexes
- Series methods
- `nan` and Pandas
- Data frames (2d data structures)

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Apache Arrow

Apache Arrow is a high-speed, in-memory database optimized for the kinds of things we do with NumPy and Pandas. It has ways to work with Pandas, R, and Spark (among other things). It also has a disk version that you can use to save and retrieve data.

As of Pandas 2.0 (which came out a few weeks ago), you can use Arrow instead of NumPy in the back end.

For some operations (such as searching), it's *far* faster than NumPy.

For other operations (such as grouping), it's actually much slower.

In [3]:
# let's create a series!

# this is similar to creating a 1D NumPy array
# we pass a list of Python objects (or of a NumPy array), and we get a series out of it

s = Series([10, 20, 30, 40, 50])

In [4]:
type(s)

pandas.core.series.Series

In [6]:
# when we look at the representation of s,
# we see the index (along the left side) and the 
# values (on the right side).

# we also see the dtype -- just like NumPy arrays, series have dtypes

s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# let's look at the values in our series

s.values   # it's a NumPy array!

array([10, 20, 30, 40, 50])

In [9]:
# because we have NumPy arrays in the back end, so many of the things
# we've learned about NumPy also apply to Pandas series

s.mean()

30.0

In [10]:
s.std()

15.811388300841896

In [11]:
s.min()

10

In [12]:
s.max()

50

In [13]:
s.sum()

150

In [14]:
s.count()   # how many non-NaN values are there?

5

In [15]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
# I can retrieve with []  -- but we'll talk about this in a moment
s[2]

30

In [17]:
# fancy indexing
s[[2, 4]]

2    30
4    50
dtype: int64

In [18]:
# if I get a series back, then I can run any method I'd like
s[[2, 4]].mean()

40.0

# Indexes on series

In NumPy, we're stuck with the same sort of numeric index as many other objects in Python use -- starting at 0, and going up to len-1.

However, in Pandas, we can use any sort of data as our index, sort of like how it's done with dictionaries. This means that our series can be much more expressive.

In [19]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
# we can always replace the existing index by assigning 
# to s.index. It needs to get a list or NumPy array that's of the right length

s.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
s.index = [50, 51, 203, 62, 18]

In [23]:
s  # look at the index now!

50     10
51     20
203    30
62     40
18     50
dtype: int64

In [24]:
# how do I retrieve from our series now?
# the answer -- two different special accessors, .loc and .iloc
# you can still use [] to retrieve via the index BUT DON'T DO THAT?

In [25]:
s[51]  # what's wrong with this?

20

In [26]:
# if I want to retrieve via the index, I can use .loc
# note that you use [] with .loc, not ()

s.loc[51]  # retrieve the item with index 51

20

In [27]:
s.loc[62]

40

In [28]:
s.loc[[51, 62]]   # retrieve the items at indexes 51 and 62

51    20
62    40
dtype: int64

In [29]:
s.loc[[51, 62]].mean()   # get the mean of the items at indexes 51 + 62

30.0

In [33]:
# what, then, is .iloc?
# it allows us to retrieve items via their numeric position, 
# using the default integer index that we're used to in Python

s.iloc[1]

20

In [34]:
s.iloc[3]

40

In [35]:
s.iloc[[1,3]]

51    20
62    40
dtype: int64

In [36]:
# define a series with an index already

s = Series([10, 20, 30, 40, 50],
          index=list('abcde'))  # yes, we can have string indexes

In [37]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [38]:
s.loc['c']

30

In [39]:
s.loc['e']

50

In [40]:
s.loc[['a', 'c', 'd']]

a    10
c    30
d    40
dtype: int64

In [42]:
# what about slices?

s.loc['b':'d']  # in normal Python, this would be "from b, up to and not including d"

# but in .loc, we include the endpoint!  It's up to and including!

b    20
c    30
d    40
dtype: int64

In [45]:
# if I use .iloc and numeric indexes, then the standard behavior returns
# it's up to and *not* including

s.iloc[1:3]  # 'b':'d'

b    20
c    30
dtype: int64

In [46]:
s = Series([10, 20, 30, 40, 50],
          index=list('baced'))  # yes, we can have string indexes

In [47]:
s

b    10
a    20
c    30
e    40
d    50
dtype: int64

In [48]:
s.loc['a':'e']

a    20
c    30
e    40
dtype: int64

In [49]:
s.loc['e':'a']

Series([], dtype: int64)

In [51]:
s.loc['e':'a':-1]  # from 'e', until (and including) 'a', step size -1

e    40
c    30
a    20
dtype: int64

# Exercises: Series and indexes

1. Create a series containing 10 random integers, with index a-j.
2. Retrieve the item at index b.
3. Retrieve the items at indexes c, d, and f
4. What is the mean of the items at indexes a, e, g, and h?
5. What is the mean of the items with even numeric (positional) indexes?

In [58]:
# 1. Create a series containing 10 random integers, with index a-j.

np.random.seed(0)
s = Series(np.random.randint(0, 100, 10),
          index='ab cd ef gh ij kl mn op qr st'.split())
s

ab    44
cd    47
ef    64
gh    67
ij    67
kl     9
mn    83
op    21
qr    36
st    87
dtype: int64

In [59]:
# 1. Create a series containing 10 random integers, with index a-j.

np.random.seed(0)
s = Series(np.random.randint(0, 100, 10),
          index=list('abcdefghij'))
s

a    44
b    47
c    64
d    67
e    67
f     9
g    83
h    21
i    36
j    87
dtype: int64

In [60]:
# 2. Retrieve the item at index b.
s.loc['b']

47

In [61]:
# 3. Retrieve the items at indexes c, d, and f

s.loc[['c', 'd', 'f']]

c    64
d    67
f     9
dtype: int64

In [63]:
# 4. What is the mean of the items at indexes a, e, g, and h?

s.loc[['a', 'e', 'g', 'h']].mean()

53.75

In [65]:
# Matt Harrison style
# If we open parentheses, then we have much more flexibility with indentation and lines

(
    s.       # start with our series
    loc[['a', 'e', 'g', 'h']].   # retrieve four items
    mean()   # calculate their mean
)

53.75

In [67]:
# 5. What is the mean of the items with even numeric (positional) indexes?

s.iloc[[0, 2, 4, 6, 8]]

a    44
c    64
e    67
g    83
i    36
dtype: int64

In [69]:
# a more elegant way?

s.iloc[::2]   # use iloc along with a numeric slice

a    44
c    64
e    67
g    83
i    36
dtype: int64

# Some useful methods

Pandas provides us with lots of methods that we can use to better work with and understand our data. These go above and beyond what NumPy offers.

In [70]:
s.head()   # return the first 5 elements

a    44
b    47
c    64
d    67
e    67
dtype: int64

In [71]:
s.head(3)   # return the first 3 elements

a    44
b    47
c    64
dtype: int64

In [72]:
s.tail()   # return the final 5 elements

f     9
g    83
h    21
i    36
j    87
dtype: int64

In [73]:
s.tail(3)  # return the final 3 elements

h    21
i    36
j    87
dtype: int64

In [74]:
s.describe()   # returns descriptive statistics for our series

count    10.000000
mean     52.500000
std      25.674241
min       9.000000
25%      38.000000
50%      55.500000
75%      67.000000
max      87.000000
dtype: float64

In [75]:
# I could do this (but don't!)

s.describe().loc['mean']

52.5

In [76]:
# sometimes (maybe) you might want to do this:

s.describe().loc[['mean', 'std']]

mean    52.500000
std     25.674241
dtype: float64

In [77]:
s

a    44
b    47
c    64
d    67
e    67
f     9
g    83
h    21
i    36
j    87
dtype: int64

In [78]:
%timeit s['a']  # this is translated into s.__getitem__('a')

1.78 µs ± 112 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [80]:
%timeit s.loc['a']  # this is translated into s.loc.__getitem__('a')

5.75 µs ± 98.8 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [81]:
s.loc??

In [82]:
s.quantile(0.5)   # this is the median

55.5

In [83]:
s.quantile(0.25)

38.0

In [84]:
s.describe()

count    10.000000
mean     52.500000
std      25.674241
min       9.000000
25%      38.000000
50%      55.500000
75%      67.000000
max      87.000000
dtype: float64

In [85]:
s.median()

55.5

# Operations on two series

What if I define two series? What happens if I try to perform math operations on them?

In [87]:
s1 = Series([10, 20, 30, 40, 50], 
           index=list('abcde'))
s2 = Series([100, 200, 300, 400, 500], 
           index=list('abcde'))

s1 + s2   # get back a new series, index a-b-c-d-e, adding each index on s1+s2

a    110
b    220
c    330
d    440
e    550
dtype: int64

In [88]:
s1 = Series([10, 20, 30, 40, 50], 
           index=list('abcde'))
s2 = Series([100, 200, 300, 400, 500], 
           index=list('edcba'))    # reverse the index

s1 + s2    # it adds according to the index!

a    510
b    420
c    330
d    240
e    150
dtype: int64

In [89]:
s1 = Series([10, 20, 30, 40, 50], 
           index=list('abcde'))
s2 = Series([100, 200, 300, 400, 500], 
           index=list('bcdef'))    # not complete overlap...

s1 + s2    # it adds according to the index!

a      NaN
b    120.0
c    230.0
d    340.0
e    450.0
f      NaN
dtype: float64

In [90]:
# what if you don't want that kind of behavior?
# what if you want to have + use 0 as a default, if there is no "other side"?

# remember that every operator in Python is turned into a method call behind
# the scenes... + is turned into __add__, which is then turned into Pandas "add"

s1.add(s2)   # this is the same as s1+s2

a      NaN
b    120.0
c    230.0
d    340.0
e    450.0
f      NaN
dtype: float64

In [91]:
# now we can pass keyword arguments (i.e., options)

s1.add(s2, fill_value=0)   # now any missing value on either side will be replaced with 0

a     10.0
b    120.0
c    230.0
d    340.0
e    450.0
f    500.0
dtype: float64

In [92]:
# if we want to get a new series back, based on an existing one,
# with a different dtype, we can use the "astype" method

s1.add(s2, fill_value=0).astype(np.int64)

a     10
b    120
c    230
d    340
e    450
f    500
dtype: int64

# Exercises: Series and indexes

1. Create a new series, with 5 random integers from 0-100, and an index of a-e.
2. Create another new series, with 5 random integers from 0-100, and an index of b-f.
3. What happens when you add these together? Do so both getting `nan` and with a default of 0.
4. What happens when you multiply them together? Do so both getting `nan` and a default of 1. (Why not 0?)
5. Add together only b-c-d from each of these series.

In [95]:
# 1. Create a new series, with 5 random integers from 0-100, and an index of a-e.

np.random.seed(0)
s1 = Series(np.random.randint(0, 100, 5),
           index=list('abcde'))
s1

a    44
b    47
c    64
d    67
e    67
dtype: int64

In [96]:
# 2. Create another new series, with 5 random integers from 0-100, and an index of b-f.

s2 = Series(np.random.randint(0, 100, 5),
           index=list('bcdef'))
s2

b     9
c    83
d    21
e    36
f    87
dtype: int64

In [97]:
# 3. What happens when you add these together? Do so both getting `nan` and with a default of 0.

s1 + s2

a      NaN
b     56.0
c    147.0
d     88.0
e    103.0
f      NaN
dtype: float64

In [98]:
s1.add(s2, fill_value=0)

a     44.0
b     56.0
c    147.0
d     88.0
e    103.0
f     87.0
dtype: float64

In [99]:
# 4. What happens when you multiply them together? Do so both getting `nan` and a default of 1. (Why not 0?)

s1 * s2

a       NaN
b     423.0
c    5312.0
d    1407.0
e    2412.0
f       NaN
dtype: float64

In [102]:
s1.mul(s2, fill_value=1)

a      44.0
b     423.0
c    5312.0
d    1407.0
e    2412.0
f      87.0
dtype: float64

In [104]:
# 5. Add together only b-c-d from each of these series.

s1.loc['b':'d'] + s2.loc['b':'d']

b     56
c    147
d     88
dtype: int64

# Non-unique indexes?

Yes, you can repeat values in your index.

In [105]:
s = Series([10, 20, 30, 40, 50],
          index=list('abcab'))
s

a    10
b    20
c    30
a    40
b    50
dtype: int64

In [106]:
# what if I retrieve index c?
s.loc['c']

30

In [107]:
s.loc['a']

a    10
a    40
dtype: int64

In [108]:
s.loc['b']

b    20
b    50
dtype: int64

In [109]:
s.loc[['a', 'b']]

a    10
a    40
b    20
b    50
dtype: int64

In [110]:
s.loc['a':'b']  # what happens in this slice?

KeyError: "Cannot get left slice bound for non-unique label: 'a'"

In [111]:
s

a    10
b    20
c    30
a    40
b    50
dtype: int64

In [113]:
s1 = Series([10, 20, 30, 40, 50],
           index=list('abcab'))

s2 = Series([100, 200, 300, 400, 500],
           index=list('abcde'))

s1 + s2

a    110.0
a    140.0
b    220.0
b    250.0
c    330.0
d      NaN
e      NaN
dtype: float64

In [ ]:
# NaN

In [114]:
# remember that in NumPy, nan messes things up

a = np.array([10, 20, 30, np.nan, 50])
a.mean()

nan

In [121]:
# by contrast...

s = Series([10, 20, 30, np.nan, 50])
s.mean()  # Pandas assumes that when you run these methods, you want to ignore NaN

27.5

In [122]:
# what if you don't want to ignore it?

s.mean(skipna=False)   # this means: if there is any NaN, include it

nan

In [117]:
# what if I want to remove nan values?
# I can use the method "dropna"

s.dropna()

0    10.0
1    20.0
2    30.0
4    50.0
dtype: float64

In [118]:
# what happened to s?
# nothing!
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [119]:
s = s.dropna()   # this assigns a new series to s, same as the old s but without NaN

In [120]:
s

0    10.0
1    20.0
2    30.0
4    50.0
dtype: float64

# Most Pandas methods don't modify the series

In most cases, you'll get back a *new* series, based on the old one, with the new values (and the index).

You'll have to then assign it back to the previously used variable in order to modify it.

There is another way to do this, namely by passing `inplace=True` to `dropna` (and many other methods). In such a case, the method returns `None` and modifies the series (or data frame).

This seems like it saves memory! **IT DOES NOT**.

In fact, inplace=True has largely been deprecated in Pandas, and they have said it will go away in a future version.

In [123]:
# another NaN-related method is fillna
# dropna removes any NaN elements, but fillna replaces them with a value

s = Series([10, 20, 30, np.nan, 50])
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [124]:
s.fillna(999)

0     10.0
1     20.0
2     30.0
3    999.0
4     50.0
dtype: float64

In [125]:
# even better:

s.fillna(s.mean())   # replace all NaN values with the mean

0    10.0
1    20.0
2    30.0
3    27.5
4    50.0
dtype: float64

In [126]:
# as will dropna, you can (in theory) call fillna(inplace=True), but you should
# not do it.  Rather, get the new series back, and assign it to the same variable

In [127]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [128]:
s.loc['asdfasdfas']

KeyError: 'asdfasdfas'

In [131]:
np.random.seed(0)
s = Series(np.random.randint(0, 1000, 10_000))
s.loc[np.random.randint(0, 10_000, 20)] = np.nan

In [132]:
# let's use fillna with the mean, without inplace=True
%timeit s.fillna(s.mean())

195 µs ± 10.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [136]:
%timeit s.fillna(s.mean(), inplace=True)

105 µs ± 741 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [137]:
# Arrow and NaN and friends

s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [138]:
s.loc[3] = np.nan  # Pandas is nice enough to change the dtype to accept new data
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [112]:
# sorting of series

In [140]:
pd.NA # the new, Pandas-specific NaN value, which can be used with other types

In [141]:
s = Series([10, 20, 30, 40, 50])
s.loc[3] = pd.NA
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

# Changing dtypes

1. We've now seen that if we assign a value to a series, the series dtype will adjust based on what you've added/assigned.
2. If you want to change the dtype, you must run `astype` on the series, and specify what type you wnat. You'll get back a new series, which you can then assign back to the original variable.

# Boolean indexes and Pandas

You can use broadcasting and comparisons and mask indexes in Pandas just like in NumPy.

In [142]:
s = Series([10, 20, 30, 40, 50],
          index=list('abcde'))

s + 5     # broadcasting

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [143]:
s <= 30   # broadcasting of a comparison -- we'll get back a boolean series

a     True
b     True
c     True
d    False
e    False
dtype: bool

In [144]:
# apply the boolean series to s (ideally with .loc)

s.loc[ s<=30 ]  # return only those values of s that are <= 30

a    10
b    20
c    30
dtype: int64

# Exercises

1. Create a series containing 10 random floats from 1-1,000.
2. Replace the numbers whose integer part is even with NaN.
3. Replace those NaN values with the mean of the remaining numbers.
4. What's the mean now?

In [145]:
# 1. Create a series containing 10 random floats from 1-1,000.

np.random.seed(0)
s = Series(np.random.rand(10) * 1000)
s

0    548.813504
1    715.189366
2    602.763376
3    544.883183
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [150]:
# 2. Replace the numbers whose integer part is even with NaN.

# stages:
# a. s.astype(np.int64) -- get a series of integers
# b. run % 2 on that, getting its remainder from dividing by 2
# c. compare that with 0, getting a boolean series
# d. apply this boolean series to s.loc, getting back the elements of s that are even

s.loc[   s.astype(np.int64) % 2  == 0   ]

0    548.813504
2    602.763376
3    544.883183
dtype: float64

In [151]:
# replace those values with nan

s.loc[   s.astype(np.int64) % 2  == 0   ] = np.nan
s

0           NaN
1    715.189366
2           NaN
3           NaN
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [154]:
# 3. Replace those NaN values with the mean of the remaining numbers.

# stages
# a. calculate the mean of the non-NaN numbers

s = s.fillna(s.mean())
s

0    637.314681
1    715.189366
2    637.314681
3    637.314681
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [156]:
# 4. What's the mean now?
s.mean()

637.3146814499371

In [158]:
type(pd.NA)

pandas._libs.missing.NAType

In [161]:
# let's try this with pd.NA

np.random.seed(0)
s = Series(np.random.rand(10) * 1000)
s.loc[   s.astype(np.int64) % 2  == 0   ] = pd.NA
s

0           NaN
1    715.189366
2           NaN
3           NaN
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [162]:
s.loc[0]

nan

In [165]:
# what if we use np.isna?

np.random.seed(0)
s = Series(np.random.rand(10) * 1000)
s.loc[   s.astype(np.int64) % 2  == 0   ] = pd.NA

In [166]:
np.isnan(s)

0     True
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [171]:
s.loc[s.isna()] = s.mean()

In [172]:
s

0    637.314681
1    715.189366
2    637.314681
3    637.314681
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [173]:
# cool trick for finding the number of NaN values in a column

np.random.seed(0)
s = Series(np.random.rand(10) * 1000)
s.loc[   s.astype(np.int64) % 2  == 0   ] = pd.NA

In [175]:
s.size   # data attribute -- how many elements?

10

In [176]:
s.count()   # method -- returns the number of non-NaN values

7

In [177]:
s.size - s.count()

3

In [179]:
# a better way (I think)
# remember: In Python, True is 1 and False is 0

s.isna().sum()

3

In [180]:
s.isna().any()   # are there any NaNs in here?

True

In [181]:
# the "any" Python builtin function takes an iterable
# and returns True if there are any True values in there

any([True, True, True, False])

True

In [182]:
any([False, False, False, False])

False

In [183]:
# the 'all' builtin function is the same, but requires that *all*
# values be True

all([True, True, True, False])

False

In [184]:
s

0           NaN
1    715.189366
2           NaN
3           NaN
4    423.654799
5    645.894113
6    437.587211
7    891.773001
8    963.662761
9    383.441519
dtype: float64

In [185]:
# what is the max number of that series?
s.max()

963.6627605010293

In [187]:
# what is the index of the max number?

s.loc[s == s.max()]

8    963.662761
dtype: float64

In [189]:
# a better way is to use the method idxmax
# it returns the index of the maximum value!
# there's also idxmin()

s.idxmax()

8

# Next up

1. Sorting
2. Strings

Resume at :30

In [ ]:
np.random.seed(0)