# Agenda

- Series (1d data structures)
- Indexes
- Series methods
- `nan` and Pandas
- Data frames (2d data structures)

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Apache Arrow

Apache Arrow is a high-speed, in-memory database optimized for the kinds of things we do with NumPy and Pandas. It has ways to work with Pandas, R, and Spark (among other things). It also has a disk version that you can use to save and retrieve data.

As of Pandas 2.0 (which came out a few weeks ago), you can use Arrow instead of NumPy in the back end.

For some operations (such as searching), it's *far* faster than NumPy.

For other operations (such as grouping), it's actually much slower.

In [3]:
# let's create a series!

# this is similar to creating a 1D NumPy array
# we pass a list of Python objects (or of a NumPy array), and we get a series out of it

s = Series([10, 20, 30, 40, 50])

In [4]:
type(s)

pandas.core.series.Series

In [6]:
# when we look at the representation of s,
# we see the index (along the left side) and the 
# values (on the right side).

# we also see the dtype -- just like NumPy arrays, series have dtypes

s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# let's look at the values in our series

s.values   # it's a NumPy array!

array([10, 20, 30, 40, 50])

In [9]:
# because we have NumPy arrays in the back end, so many of the things
# we've learned about NumPy also apply to Pandas series

s.mean()

30.0

In [10]:
s.std()

15.811388300841896

In [11]:
s.min()

10

In [12]:
s.max()

50

In [13]:
s.sum()

150

In [14]:
s.count()   # how many non-NaN values are there?

5

In [15]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
# I can retrieve with []  -- but we'll talk about this in a moment
s[2]

30

In [17]:
# fancy indexing
s[[2, 4]]

2    30
4    50
dtype: int64

In [18]:
# if I get a series back, then I can run any method I'd like
s[[2, 4]].mean()

40.0

# Indexes on series

In NumPy, we're stuck with the same sort of numeric index as many other objects in Python use -- starting at 0, and going up to len-1.

However, in Pandas, we can use any sort of data as our index, sort of like how it's done with dictionaries. This means that our series can be much more expressive.

In [19]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
# we can always replace the existing index by assigning 
# to s.index. It needs to get a list or NumPy array that's of the right length

s.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
s.index = [50, 51, 203, 62, 18]

In [23]:
s  # look at the index now!

50     10
51     20
203    30
62     40
18     50
dtype: int64

In [24]:
# how do I retrieve from our series now?
# the answer -- two different special accessors, .loc and .iloc
# you can still use [] to retrieve via the index BUT DON'T DO THAT?

In [25]:
s[51]  # what's wrong with this?

20

In [26]:
# if I want to retrieve via the index, I can use .loc
# note that you use [] with .loc, not ()

s.loc[51]  # retrieve the item with index 51

20

In [27]:
s.loc[62]

40

In [28]:
s.loc[[51, 62]]   # retrieve the items at indexes 51 and 62

51    20
62    40
dtype: int64

In [29]:
s.loc[[51, 62]].mean()   # get the mean of the items at indexes 51 + 62

30.0

In [33]:
# what, then, is .iloc?
# it allows us to retrieve items via their numeric position, 
# using the default integer index that we're used to in Python

s.iloc[1]

20

In [34]:
s.iloc[3]

40

In [35]:
s.iloc[[1,3]]

51    20
62    40
dtype: int64

In [36]:
# define a series with an index already

s = Series([10, 20, 30, 40, 50],
          index=list('abcde'))  # yes, we can have string indexes

In [37]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [38]:
s.loc['c']

30

In [39]:
s.loc['e']

50

In [40]:
s.loc[['a', 'c', 'd']]

a    10
c    30
d    40
dtype: int64

In [42]:
# what about slices?

s.loc['b':'d']  # in normal Python, this would be "from b, up to and not including d"

# but in .loc, we include the endpoint!  It's up to and including!

b    20
c    30
d    40
dtype: int64

In [45]:
# if I use .iloc and numeric indexes, then the standard behavior returns
# it's up to and *not* including

s.iloc[1:3]  # 'b':'d'

b    20
c    30
dtype: int64

In [46]:
s = Series([10, 20, 30, 40, 50],
          index=list('baced'))  # yes, we can have string indexes

In [47]:
s

b    10
a    20
c    30
e    40
d    50
dtype: int64

In [48]:
s.loc['a':'e']

a    20
c    30
e    40
dtype: int64

In [49]:
s.loc['e':'a']

Series([], dtype: int64)

In [51]:
s.loc['e':'a':-1]  # from 'e', until (and including) 'a', step size -1

e    40
c    30
a    20
dtype: int64

# Exercises: Series and indexes

1. Create a series containing 10 random integers, with index a-j.
2. Retrieve the item at index b.
3. Retrieve the items at indexes c, d, and f
4. What is the mean of the items at indexes a, e, g, and h?
5. What is the mean of the items with even numeric (positional) indexes?

In [58]:
# 1. Create a series containing 10 random integers, with index a-j.

np.random.seed(0)
s = Series(np.random.randint(0, 100, 10),
          index='ab cd ef gh ij kl mn op qr st'.split())
s

ab    44
cd    47
ef    64
gh    67
ij    67
kl     9
mn    83
op    21
qr    36
st    87
dtype: int64

In [59]:
# 1. Create a series containing 10 random integers, with index a-j.

np.random.seed(0)
s = Series(np.random.randint(0, 100, 10),
          index=list('abcdefghij'))
s

a    44
b    47
c    64
d    67
e    67
f     9
g    83
h    21
i    36
j    87
dtype: int64

In [60]:
# 2. Retrieve the item at index b.
s.loc['b']

47

In [61]:
# 3. Retrieve the items at indexes c, d, and f

s.loc[['c', 'd', 'f']]

c    64
d    67
f     9
dtype: int64

In [63]:
# 4. What is the mean of the items at indexes a, e, g, and h?

s.loc[['a', 'e', 'g', 'h']].mean()

53.75

In [65]:
# Matt Harrison style
# If we open parentheses, then we have much more flexibility with indentation and lines

(
    s.       # start with our series
    loc[['a', 'e', 'g', 'h']].   # retrieve four items
    mean()   # calculate their mean
)

53.75

In [67]:
# 5. What is the mean of the items with even numeric (positional) indexes?

s.iloc[[0, 2, 4, 6, 8]]

a    44
c    64
e    67
g    83
i    36
dtype: int64

In [69]:
# a more elegant way?

s.iloc[::2]   # use iloc along with a numeric slice

a    44
c    64
e    67
g    83
i    36
dtype: int64

# Some useful methods

Pandas provides us with lots of methods that we can use to better work with and understand our data. These go above and beyond what NumPy offers.

In [70]:
s.head()   # return the first 5 elements

a    44
b    47
c    64
d    67
e    67
dtype: int64

In [71]:
s.head(3)   # return the first 3 elements

a    44
b    47
c    64
dtype: int64

In [72]:
s.tail()   # return the final 5 elements

f     9
g    83
h    21
i    36
j    87
dtype: int64

In [73]:
s.tail(3)  # return the final 3 elements

h    21
i    36
j    87
dtype: int64

In [74]:
s.describe()   # returns descriptive statistics for our series

count    10.000000
mean     52.500000
std      25.674241
min       9.000000
25%      38.000000
50%      55.500000
75%      67.000000
max      87.000000
dtype: float64

In [75]:
# I could do this (but don't!)

s.describe().loc['mean']

52.5

In [76]:
# sometimes (maybe) you might want to do this:

s.describe().loc[['mean', 'std']]

mean    52.500000
std     25.674241
dtype: float64