# Agenda

1. Loops
    - `for`
    - `while`
    - `range`
2. Lists
    - Creating them
    - Manipulating them
3. Strings to lists and back
    - `str.join`
    - `str.split`
4. Tuples
5. Tuple unpacking

In [1]:
# let's say that I have a string, and I want to print all of the characters in that string

s = 'abcd'

print(s[0])
print(s[1])
print(s[2])
print(s[3])

a
b
c
d

# DRY -- don't repeat yourself!

If I have several lines in a row that basically do the same thing, then I should replace them with a loop.

WET -- write everything twice

# Python has two kinds of loops

- `for` 
- `while`

In [2]:
# if I want to print all of the characters in the string s, I can do this:

# 1. for loop asks the object at the end of the line: are you iterable?
# 2.  If not, then we get an error
# 3. If so, then the loop asks the object for its next value
# 4.  If the object is out of values, the loop ends
# 5   Otherwise, we get the next value, assign it to one_character, and run the loop body

# when we iterate over strings, we always get one character at a time

s = 'abcd'

for one_character in s:     # start of the for loop
    print(one_character)    # body of the for loop (can be as many lines as we want)

a
b
c
d

# Exercise: Vowels, digits, and others

1. Define three variables -- `vowels`, `digits`, and `others`, all to be 0.
2. Ask the user to enter a string.
3. Go through each element of the string, and check:
    - If it's a vowel (a, e, i, o or u) then add 1 to `vowels`
    - If it's a digit (0-9) then add 1 to `digits`
    - In all other cases, add 1 to `others`.

In [3]:
# don't do this!

vowels = digits = others = 0

In [4]:
vowels = 0
digits = 0
others = 0

s = input('Enter a string: ').strip()

for one_character in s.lower():
    if one_character in 'aeiou':
        vowels += 1   # same as vowels = vowels + 1
    elif one_character.isdigit():
        digits += 1
    else:
        others += 1
        
print(f'vowels = {vowels}')        
print(f'digits = {digits}')        
print(f'others = {others}')

Enter a string: hello! 12345?
vowels = 2
digits = 5
others = 6

In [7]:
# As of Python 3.8 (I think) you can do this:

print(f'{vowels = }')           # if the = is the last character in the f-string's {}, we get name=value
print(f'{digits = }')        
print(f'{others = }')

vowels = 2
digits = 5
others = 6

In [8]:
print(f'{len(s) = }')

len(s) = 13

In [9]:
# what if I really *like* the idea of having indexes when iterating over a string?
# for example: I want to print all of the characters in s, along with their indexes

# option 1: do it manually!

index = 0
s = 'abcd'

for one_character in s:
    print(f'{index}: {one_character}')
    index += 1

0: a
1: b
2: c
3: d

In [10]:
# option 2: Use "enumerate"

# the "enumerate" function is called on something that's iterable
# it is meant to be used in a for loop
# it returns *two* values, not one -- the current index and the current value

for index, one_character in enumerate(s):
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

# What about executing something multiple times?

So far, we've been iterating over strings, getting one character from the string with each iteration. But often we just want to execute a loop in order to repeat something a number of times.

Can I iterate over an integer?

No, integers are not iterable. You cannot put them in your `for` loop.

In [12]:
for counter in 5:
    print('Hooray!')

TypeError: 'int' object is not iterable

In [14]:
# We can use "range"
# the "range" function is designed to be called on an integer, giving us
# something that is iterable from 0 until (not including) the number we give

# so range(5) will give us 5 iterations

for counter in range(5):
    print('Hooray!')

Hooray!
Hooray!
Hooray!
Hooray!
Hooray!

In [15]:
# when we iterate over range(n), we get the numbers 0 until (not including) n.

for counter in range(5):
    print(f'[{counter}] Hooray!')

[0] Hooray!
[1] Hooray!
[2] Hooray!
[3] Hooray!
[4] Hooray!

In [16]:
# it gets even better than that

for one_number in range(3, 10):   # now we'll get the range from 3 up to (and not including) 10
    print(one_number)

3
4
5
6
7
8
9

In [17]:
# just like with slices, we can provide range with *three* arguments:
# start number
# end number (+ 1)
# step size

for one_number in range(5, 35, 7):
    print(one_number)

5
12
19
26
33

# Using `range`

- `range(n)` counts from 0 up to (and not including) `n`
- `range(n,s)` counts from `n` up to (and not including) `s`
- `range(n, s, step)` counts up from `n` up to (and not including) `s`, adding `step` with each iteration

In [18]:
# yes, you can use _ in your integers in Python for easier reading!

x = range(100_000_000)

# Exercise: Name triangles

1. Ask the user to enter their name.
2. Print the user's name as a triangle, starting with the first letter and ending with the entire name.

Example:

    Name: Reuven
    R
    Re
    Reu
    Reuv
    Reuve
    Reuven

Beware the off-by-one errors that are almost inevitable when doing this!

In [20]:
name = 'Reuven'

print(name[:1])
print(name[:2])
print(name[:3])
print(name[:4])
print(name[:5])
print(name[:6])    # Python's OK with going off the edges of a slice

R
Re
Reu
Reuv
Reuve
Reuven

In [24]:
name = input('Enter a name: ').strip()

for end_index in range(1, len(name)+1 ):
    print(name[:end_index])

Enter a name: the most ridiculously long name in the world
t
th
the
the
the m
the mo
the mos
the most
the most
the most r
the most ri
the most rid
the most ridi
the most ridic
the most ridicu
the most ridicul
the most ridiculo
the most ridiculou
the most ridiculous
the most ridiculousl
the most ridiculously
the most ridiculously
the most ridiculously l
the most ridiculously lo
the most ridiculously lon
the most ridiculously long
the most ridiculously long
the most ridiculously long n
the most ridiculously long na
the most ridiculously long nam
the most ridiculously long name
the most ridiculously long name
the most ridiculously long name i
the most ridiculously long name in
the most ridiculously long name in
the most ridiculously long name in t
the most ridiculously long name in th
the most ridiculously long name in the
the most ridiculously long name in the
the most ridiculously long name in the w
the most ridiculously long name in the wo
the most ridiculously long name in the wor
the most ridiculously long name in the worl
the most ridiculously long name in the world

In [26]:
name = input('Enter a name: ').strip()

# we can have our range go from 0-len, and then add 1 in the slice
for end_index in range(0, len(name) ):
    print(name[:end_index+1])

Enter a name: whatever
w
wh
wha
what
whate
whatev
whateve
whatever

In [27]:
# what if I want to leave the loop early?

s = 'abcdef'
look_for = 'd'   # let's pretend that "in" doesn't exist in Python

# how can I know, given that pretend scenario, whether look_for is in s?

for one_character in s:
    if look_for == one_character:
        print(f'Found {look_for}')

Found d

In [29]:
# if you're just looking for the first match of look_for in s, then
# wouldn't it be nice (and more efficient! ) if we were to stop as 
# soon as he found look_for?

# answer: yes

# I can use "break" in a loop to say: stop now!

s = 'abcdefabcdef'
look_for = 'd'   # let's pretend that "in" doesn't exist in Python

# how can I know, given that pretend scenario, whether look_for is in s?

for one_character in s:
    if look_for == one_character:
        print(f'Found {look_for}')
        break   # we will now break out of our for loop

Found d

In [30]:
# if we have nested loops (i.e., one loop inside of another), then
# the break will stop the innermost loop in which it's located.

# sometimes, I want to stop the current iteration, not the entire loop
# for that, I have the "continue" keyword

# if Python encounters "continue" in a loop, it immediately goes to the next iteration,
# skipping any of the loop body that might remain to be executed.

s = 'abcdef'
look_for = 'd'   

for one_character in s:
    if look_for == one_character:
        continue   # ignoring the character
        
    print(one_character)

a
b
c
e
f

In [31]:
# what if we use break or continue outside of a loop?
break

SyntaxError: 'break' outside loop (1481225530.py, line 2)

In [32]:
continue

SyntaxError: 'continue' not properly in loop (414696514.py, line 1)

# Exercise: Sum digits

1. Define `total` to be 0.
2. Ask the user to enter a string.
3. Go through each character in the string:
    - If the character is a digit, add it to `total`
    - If the character is a `.`, stop counting and exit the loop
    - In other cases, warn the user that it's not numeric
4. Print `total`

Example:

    Enter a string: 1a2b3.45
    a is not numeric
    b is not numeric
    total is 6

In [33]:
total = 0

s = input('Enter a string: ').strip()

for one_character in s:
    if one_character == '.':
        break
        
    if not one_character.isdigit():
        print(f'{one_character} is not numeric!')
        continue
        
    total += int(one_character)
    
print(f'{total=}')

Enter a string: 1a2b3.45
a is not numeric!
b is not numeric!
total=6

# `while` loops

`while` loops run in a different way from `for` loops. You can think of them as `if` statements that are repeatedly checked and run:

- To the right of the `while` statement is an expression that returns `True` or `False`
    - If it's `False`, then the loop exits
    - Otherwise, the loop body runs
- When the loop body finishes, we go back up to the `while` statement and check the condition again.

In [35]:
x = 5

print('Before')

while x > 0:
    print(f'{x=}')
    x -= 1   # decrement x by 1

print('After')

Before
x=5
x=4
x=3
x=2
x=1
After

# When to use `for` vs. `while`?

First: We use `for` in Python far more than `while`.  Many data structures are iterable.

Often, it's a question of: When will we finish the loop?

- If we want to go through every element of a collection, then a `for` loop is generally more appropriate.

- If we can't articulate how many iterations we'll want, but there is a goal that we want to reach, then a `while` loop is more appropriate.

- If we want to repeatedly ask people to enter data, or otherwise do something, until we reach some obvious "stop" command, then a `while` loop is also appropriate.

In [36]:
while True:   # infinite loop!
    name = input('Enter your name: ').strip()
    
    if not name:    # if we got an empty string from the user, exit the loop
        break
    
    print(f'Hello, {name}!')

Enter your name: Reuven
Hello, Reuven!
Enter your name: asdfsadfas
Hello, asdfsadfas!
Enter your name:

# Exercise: Sum to 100

1. Define `total` to be 0.
2. Repeatedly ask the user to enter a number.
    - If we get an empty string, exit the loop, no matter what.
    - If we get something non-numeric, then scold the user.
    - If we get something numeric, then add it to `total`
3. Print the `total` at the start/end of each loop.    
4. Once `total` is >= 100, stop.    

Example:

    Enter a number: 50
    Total is 50
    Enter a number: 30
    Total is 80
    Enter a number: banana
    banana is not numeric
    Enter a number: 20
    Total is 100

In [39]:
total = 0

while total < 100:
    s = input('Enter a number: ').strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print(f'{s} is not numeric')
        continue
        
    total += int(s)
    print(f'{total=}')
    
print(f'In the end, {total=}')

Enter a number: 50
total=50
Enter a number: 30
total=80
Enter a number: banana
banana is not numeric
Enter a number: 20
total=100
In the end, total=100

In [40]:
s = '12345'
s.isdigit()

True

In [41]:
s.isnumeric()

True

In [42]:
s.isdecimal()

True

In [43]:
# why all three?

s = '一二三'

s.isdigit()

False

In [44]:
s.isnumeric()

True

In [45]:
s.isdecimal()

False

In [48]:
s = '²'

s.isdigit()

True

In [49]:
s.isdecimal()

False

In [50]:
total = 0

while total < 100:
    s = input('Enter a number: ').strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print(f'{s} is not numeric')
        continue
        
    total += int(s)
    print(f'{total=}')
    
print(f'In the end, {total=}')

Enter a number: 500
total=500
In the end, total=500

# Why not mix the `while` condition with assignment?

In [51]:
while name = input('Enter your name: ').strip():
    
    print(f'Hello, {name}!')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3166419494.py, line 1)

In [52]:
# as of Python 3.8, we got a new operator in the language
# it's known as the "assignment expression"
# but no one calls it that... they call it "the walrus"
# :=

while name := input('Enter your name: ').strip():
    
    print(f'Hello, {name}!')

Enter your name: Reuven
Hello, Reuven!
Enter your name: asdfsa
Hello, asdfsa!
Enter your name:

In [55]:
# please don't do this!

print(x := 5)

5

# Lists

Lists are Python's most common container type. They are *not* arrays, because:

- They can contain any objects, and any mix of objects and object types 
- Their length can change over time

By Python conventions, we actually want to use lists for collections of objects that are all the same type -- a list of strings, a list of lists, a list of integers, etc.

In [56]:
# here's a list
# defined with []
# elements are separated by ,
# any object in Python can be put into a list

mylist = [10, 20, 30, 40, 50]

# Lists and strings are both sequences

As a result, they share a lot of syntax:

- We can retrieve an item at index `i` with `mylist[i]`
- We can retrieve a slice with `mylist[start:stop]` and `mylist[start:stop:step]`
- We can search in a list with `in`
- We can iterate over a list with `for`
- Get the length with `len`

In [58]:
mylist = [10, 20, 30, 40, 50, 60, 70]

len(mylist)

7

In [59]:
40 in mylist

True

In [60]:
mylist[2:5]

[30, 40, 50]

In [61]:
for one_item in mylist:
    print(one_item)

10
20
30
40
50
60
70

In [62]:
mylist[-1]

70

In [63]:
mylist[-2]

60

In [64]:
mylist = [10, 20, 30]

biglist = [mylist, mylist, mylist]

In [65]:
len(biglist)

3

In [66]:
len(mylist)

3

In [67]:
biglist

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [68]:
20 in biglist   # is 20 an element of biglist?

False

In [69]:
20 in mylist

True

In [70]:
s = 'abcde'
s[0] = '!'   # can I change a string? No, strings are immutable

TypeError: 'str' object does not support item assignment

In [71]:
mylist[0] = '!'   # can I change a list?

In [72]:
mylist   # yes! lists are mutable!

['!', 20, 30]

In [73]:
biglist

[['!', 20, 30], ['!', 20, 30], ['!', 20, 30]]

# Assignment can mean two things in Python

1. When we assign to a variable, we're saying: I want this variable to refer to that value
2. When we assign to an element of a list, we're saying: The list should stay intact, but we are mutating it so that one element is now referring to something else.

In [74]:
mylist = [10, 20, 30]   # this is case 1 -- I create a list, and mylist refers to it

other = mylist          # other will now refer to the same list as mylist

mylist[2] = 'hello'     # this is case 2 -- the list is still the same list, but one element has changed

In [75]:
other

[10, 20, 'hello']

In [76]:
mylist = [10, 20, 30]   # this is case 1 -- I create a list, and mylist refers to it

other = [10, 20, 30]          # other is == to mylist, but is otherwise unconnected

mylist[2] = 'hello'     # this is case 2 -- the list is still the same list, but one element has changed

In [77]:
mylist = []   # empty list

# can I add elements to my list?  Yes, in several ways

mylist.append(10)   # this adds 10 to the end of mylist
mylist

[10]

In [78]:
mylist.append(20)
mylist.append(30)
mylist

[10, 20, 30]

In [79]:
# I can add multiple elements with += or .extend()

mylist.append([100, 200, 300])  # can I append a list to mylist?
mylist

[10, 20, 30, [100, 200, 300]]

In [80]:
# I really wanted to add each element of [100, 200, 300] to mylist...

mylist = [10, 20, 30]

# instead of a for loop, I can just use .extend()
mylist.extend(mylist)   # each element of mylist will be added

mylist

[10, 20, 30, 10, 20, 30]

In [81]:
mylist += [40, 50, 60]  # each element of this list will be added, just like .extend
mylist

[10, 20, 30, 10, 20, 30, 40, 50, 60]

In [82]:
mylist.append('abcd')
mylist

[10, 20, 30, 10, 20, 30, 40, 50, 60, 'abcd']

In [83]:
mylist.extend('abcd')
mylist

[10, 20, 30, 10, 20, 30, 40, 50, 60, 'abcd', 'a', 'b', 'c', 'd']

In [84]:
mylist = [10, 20, 30]
biglist = [mylist, mylist, mylist]

In [85]:
biglist

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [86]:
del(mylist)   # delete the variable mylist from Python

In [87]:
mylist

NameError: name 'mylist' is not defined

In [88]:
biglist

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

# Exercise: Odds and evens

1. Define two empty lists, `odds` and `evens`.
2. Ask the user, repeatedly, to enter a number.
    - If they give us an empty string, stop asking
    - If they give us something non-numeric, scold them
3. If they give us a number, then check if it's odd or even (by using `% 2` -- if it's 0, then the number is even, if 1, then it's odd).
    - Add the number to the appropriate list.
4. In the end, print each list.

In [92]:
odds = []
evens = []

while True:
    s = input('Enter a number: ').strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print(f'{s} is not numeric!')
        continue
        
    n = int(s)

    if n % 2 == 1:      # odd
        odds.append(n)
    else:               # even
        evens.append(n)
        
print(f'{odds=}, {evens=}')

Enter a number: 10
Enter a number: 11
Enter a number: 17
Enter a number: 18
Enter a number: abcd
abcd is not numeric!
Enter a number:
odds=[11, 17], evens=[10, 18]

In [93]:
odds = []
evens = []

while True:
    s = input('Enter a number: ').strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print(f'{s} is not numeric!')
        continue
        
    n = int(s)

    if n % 2:      # odd -- because 1 is True in a boolean context
        odds.append(n)
    else:               # even
        evens.append(n)
        
print(f'{odds=}, {evens=}')

Enter a number: 11
Enter a number: 10
Enter a number: 18
Enter a number: 17
Enter a number:
odds=[11, 17], evens=[10, 18]

In [90]:
x = y = []  # this is bad... don't do it

# now x and y refer to THE SAME LIST!
x.append(10)
y.append(20)
x.append(30)
y.append(40)

x

[10, 20, 30, 40]

In [91]:
y

[10, 20, 30, 40]

# Next up

1. Splitting and joining
2. Tuples and unpacking

Resume at :25

# Splitting and joining

It's common for us to have strings that we want to turn into lists.  There's a simple way to do it, but it won't always do what we want.

In [94]:
s = 'abcd;efgh;ijkl'

# we can get an integer from a string with int()
# we can get a float from a string with float()
# can we get a list from a string with list()?

list(s)

['a', 'b', 'c', 'd', ';', 'e', 'f', 'g', 'h', ';', 'i', 'j', 'k', 'l']

In [95]:
# as a human, that's not really what I was aiming for.. I wanted to use ; as a delimiter
# I can do that with the "split" method

s.split(';')  # this returns a new list of strings, based on s, using ';' as the field separator

['abcd', 'efgh', 'ijkl']

In [96]:
words = s.split(';')  # now I've captured that list in "words"

In [97]:
words

['abcd', 'efgh', 'ijkl']

In [98]:
s = 'This is a bunch of words for my Python course'

words = s.split(' ')   # use space as the delimiter
words

['This', 'is', 'a', 'bunch', 'of', 'words', 'for', 'my', 'Python', 'course']

In [99]:
# this can run into some trouble...

s = 'This   is   a bunch   of words for    my Python course'

words = s.split(' ')   # use space as the delimiter
words

['This',
 '',
 '',
 'is',
 '',
 '',
 'a',
 'bunch',
 '',
 '',
 'of',
 'words',
 'for',
 '',
 '',
 '',
 'my',
 'Python',
 'course']

In [100]:
# in Python, if we call str.split() with *NO* argument, then it will take
# any whitespace characters (space, \t, \n, \r, \v) in any number as *one* delimiter

# you can do more by calling it without any arguments!

words = s.split()  # no args
words

['This', 'is', 'a', 'bunch', 'of', 'words', 'for', 'my', 'Python', 'course']

In [101]:
# what if I have a list of strings already, and I want to create a single string from them?
# for that, we have the str.join method

# notice -- it's the join method on *strings*, not lists!
# we invoke join on the string that we want to be *between* the elements of our list

# glue.join(list_of_words)

' '.join(words)

'This is a bunch of words for my Python course'

In [102]:
s = ' '.join(words)
s

'This is a bunch of words for my Python course'

In [103]:
# I can use any string at all to join things to gether

'**'.join(words)

'This**is**a**bunch**of**words**for**my**Python**course'

In [104]:
s = '\n'.join(words)
s

'This\nis\na\nbunch\nof\nwords\nfor\nmy\nPython\ncourse'

In [105]:
print(s)

This
is
a
bunch
of
words
for
my
Python
course

In [106]:
# I can call str.join on a list of strings or any iterable of strings

'*'.join('abcd')

'a*b*c*d'

In [107]:
# In many programs, we start with an empty list, accumulate strings over time, 
# and then join them at the end to display to the user.

# this is *FAR* more efficient than using += on strings

In [108]:
records = [ ['a', 'b', 'c'],
           ['d', 'e', 'f'],
          ['g', 'h', 'i']]

output = ''
for one_record in records:
    s = '\t'.join(one_record) + '\n'
    output += s 
    
print(output)

a	b	c
d	e	f
g	h	i

In [109]:
# a much better alternative

records = [ ['a', 'b', 'c'],
           ['d', 'e', 'f'],
          ['g', 'h', 'i']]

output = []
for one_record in records:
    s = '\t'.join(one_record)    # with every record, create one string with join
    output.append(s) 
    
print(output)

['a\tb\tc', 'd\te\tf', 'g\th\ti']

In [110]:
'\n'.join(output)    # join together the records to create one string, a file

'a\tb\tc\nd\te\tf\ng\th\ti'

# Exercise: Pig Latin sentence

1. Ask the user to enter a sentence in English. (No capital letters or punctuation.)
2. Translate each word into Pig Latin.
3. Print the translated sentence on a single line.

In [111]:
word = input('Enter a word: ')

if word[0] in 'aeiou':
    print(word + 'way')
else:
    print(word[1:] + word[0] + 'ay')

Enter a word:

IndexError: string index out of range

In [112]:
sentence = input('Enter a sentence: ')

for word in sentence.split():
    if word[0] in 'aeiou':
        print(word + 'way')
    else:
        print(word[1:] + word[0] + 'ay')

Enter a sentence: this is a test of my translation program
histay
isway
away
esttay
ofway
ymay
ranslationtay
rogrampay

In [115]:
# option 1: make sure print doesn't add a \n after printing

sentence = input('Enter a sentence: ')

for word in sentence.split():
    if word[0] in 'aeiou':
        print(word + 'way', end=' ')
    else:
        print(word[1:] + word[0] + 'ay', end=' ')

Enter a sentence: this is a test
histay isway away esttay

In [117]:
# option 2: use a list to accumulate output

output = []
sentence = input('Enter a sentence: ')

for word in sentence.split():
    if word[0] in 'aeiou':
        output.append(word + 'way')
    else:
        output.append(word[1:] + word[0] + 'ay')
        
print(' '.join(output))

Enter a sentence: this is a test of my very important program
histay isway away esttay ofway ymay eryvay importantway rogrampay

# Tuples

A tuple can be thought of as an immutable list. 

But among Python coders, we normally think of lists as collections of objects that are all the same type, whereas we think of tuples as collections of objects of *different* types.

Tuples are Python's records / structs.

Thinking this way, the mutable/immutable aspect is pretty much irrelevant.

In [118]:
t = (10, 20, 30)   # define a tuple with () and ,
type(t)

tuple

In [119]:
t = (10, 20)
type(t)

tuple

In [120]:
t = (10)
type(t)

int

In [121]:
t = ()
type(t)

tuple

In [122]:
# the problem here is that () are used in a number of Python contexts.
# among them, we use () for prioritization of math expressions

3 + 4 * 5

23

In [123]:
# I can change the priority with ()
(3 + 4) * 5

35

In [124]:
# if you have a single value in parentheses, it is *not* a tuple
# if you want it to be a tuple, you must use a ,

t = (10,)   # this is really a tuple
type(t)

tuple

In [125]:
# you don't need () to create a tuple!
t = 10, 20, 30
type(t)

tuple

In [126]:
t

(10, 20, 30)

# Tuples are sequences!

- They handle indexes like strings and lists, `t[i]`
- They handle slices like strings and lists, `t[start:stop]`
- We can use `in` to search
- We can iterate with a `for` loop
- We can get the length with `len`

In [128]:
t = (100, 200, 300, 400)
t[0] = '!'    # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [129]:
# tuples are immutable, but can they contain mutable data?
t = ([10, 20, 30],
     [100, 200, 300])

t

([10, 20, 30], [100, 200, 300])

In [130]:
# I cannot change t[0] or t[1], or change the length of t
# I *can* modify the lists to which t[0] and t[1] refer

t[0].append(40)
t

([10, 20, 30, 40], [100, 200, 300])

In [131]:
# one of the craziest things in Python...

t[0] += [50, 60, 70]   # can I add elements to t[0] with +=?

TypeError: 'tuple' object does not support item assignment

In [132]:
t

([10, 20, 30, 40, 50, 60, 70], [100, 200, 300])

# Tuple unpacking

In [133]:
mylist = [10, 20, 30]
x = mylist   # what is the value of x?

x

[10, 20, 30]

In [134]:
x,y,z = mylist    # now what's going on?  This is unpacking aka tuple unpacking

# On the right, an iterable with 3 elements
# On the left, three variables in a tuple

# Python will perform the assignment in parallel

In [135]:
x

10

In [136]:
y

20

In [137]:
z

30

In [138]:
name = 'Reuven Lerner'

first_name, last_name = name.split()

In [139]:
first_name

'Reuven'

In [140]:
last_name

'Lerner'

In [141]:
mylist = [10, 20, 30]

w,x,y,z = mylist   # too many variables

ValueError: not enough values to unpack (expected 4, got 3)

In [142]:
x,y = mylist   # too few variables

ValueError: too many values to unpack (expected 2)

In [144]:
# there are ways to get around this...

mylist = [10, 20, 30, 40, 50, 60, 70]

x,y,*z = mylist   # now z will be a list with all of the elements that were otherwise unclaimed

In [145]:
x

10

In [146]:
y

20

In [147]:
z

[30, 40, 50, 60, 70]

In [148]:
x,*y,z = mylist

print(f'{x=}, {y=}, {z=}')

x=10, y=[20, 30, 40, 50, 60], z=70

In [149]:
*x,y,z = mylist

print(f'{x=}, {y=}, {z=}')

x=[10, 20, 30, 40, 50], y=60, z=70

In [150]:
name = 'Reuven M. Lerner'
first_name, last_name = name.split()

ValueError: too many values to unpack (expected 2)

In [151]:
first_name, *stuff, last_name = name.split()

In [152]:
first_name

'Reuven'

In [153]:
last_name

'Lerner'

In [155]:
# the most popular demonstration of unpacking is this:

x = 222
y = 333

y,x = x,y   # (1) create a tuple on the right, (2) assign to variables on the left via unpacking

In [156]:
x

333

In [157]:
y

222

In [158]:
# Remember enumerate?

s = 'abcd'

for thing in enumerate(s):   # enumerate returns a 2-element tuple with each iteration
    print(thing)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [159]:
s = 'abcd'

for thing in enumerate(s):     # enumerate returns a 2-element tuple with each iteration
    index, one_letter = thing  # we know that thing is a 2-element tuple
    print(f'{index}: {one_letter}')

0: a
1: b
2: c
3: d

In [160]:
# the shortcut to doing this: put two variables in the for loop, for auto-unpacking!

for index, one_letter in enumerate(s):
    print(f'{index}: {one_letter}')

0: a
1: b
2: c
3: d

# Exercise: Simple calculator

1. Ask the user, repeatedly, to enter a simple math expression of the form `2 + 3` or `8 - 5`.
2. We can assume that the numbers will be separated from the operator with at least one space character.
3. We only have to worry about `+` and `-`.
4. If the user enters an empty string, then stop asking.
5. Otherwise, print the expression and the answer.
6. If they enter an operator that we don't know about, then scold them.
7. If you want, you can check to see that the operands are numeric.

Example:

    Enter expression: 2 + 3
    2 + 3 = 5
    Enter expression: 10 - 8
    10 - 8 = 2
    Enter expression: 2 + pizza
    not numeric
    Enter expression: [ENTER]

In [ ]:
s = input('Enter expression: ').strip()

first, op, second = s.split()