# Exercises with data frames
 
1. Create a 5x5 pandas data frame with rows abcde and columns vwxyz. The values should be random integers from 0-1,000. (You can use a 2D NumPy array for this, if you want.)
 
2. Retrieve row b
3. Retrieve rows b and d
4. Retrieve rows b, c, and d
5. Retrieve column w
6. Retrieve columns w and y
7. Retrieve columns w, x, and y
8. Retrieve the item at row e, column v

In [ ]:
import pandas as pd
import numpy as np

# create a 5x5 pandas data frame with random integers from 0-1000
data = np.random.randint(0, 1000, (5, 5))
df = pd.DataFrame(data, index=list('abcde'), columns=list('vwxyz'))

# retrieve row b
print(df.loc['b'])

# retrieve rows b and d
print(df.loc[['b', 'd']])

# retrieve rows b, c, and d
print(df.loc[['b', 'c', 'd']])

# retrieve column w
print(df['w'])

# retrieve columns w and y
print(df[['w', 'y']])

# retrieve columns w, x, and y
print(df[['w', 'x', 'y']])

# retrieve the item at row e, column v
print(df.loc['e', 'v'])

### Lets output the results to a panda series.

In [15]:
import pandas as pd
import numpy as np

np.random.seed(0)

# Creating a 2D numpy array of shape (5,5) with random integers from 0-1000
arr = np.random.randint(0, 1000, (5,5))

# Creating a pandas data frame from the numpy array
df = pd.DataFrame(data, index=list('abcde'), columns=list('vwxyz'))

row_b = df.loc['b']

rows_bd = df.loc[['b', 'd']]

rows_bcd = df.loc[['b', 'c', 'd']]

col_w = df.loc[:,'w']

cols_wy = df[['w', 'y']]

cols_wxy = df.loc[:,'w':'y']

item_ev = df.at['e', 'v']

results = pd.Series({'Row b': row_b,
                     'Rows b and d': rows_bd,
                     'Rows b, c, and d': rows_bcd,
                     'Column w': col_w,
                     'Columns w and y': cols_wy,
                     'Columns w, x, and y': cols_wxy,
                     'Item at row e, column v': item_ev})

print(results.to_markdown())

|                         | 0                          |
|:------------------------|:---------------------------|
| Row b                   | v    450                   |
|                         | w    326                   |
|                         | x    901                   |
|                         | y    220                   |
|                         | z     61                   |
|                         | Name: b, dtype: int32      |
| Rows b and d            | v    w    x    y    z      |
|                         | b  450  326  901  220   61 |
|                         | d  945   94  311  854  206 |
| Rows b, c, and d        | v    w    x    y    z      |
|                         | b  450  326  901  220   61 |
|                         | c  681  166  167  764  350 |
|                         | d  945   94  311  854  206 |
| Column w                | a    251                   |
|                         | b    326                   |
|                         | c    166                   |
|                         | d     94                   |
|                         | e    979                   |
|                         | Name: w, dtype: int32      |
| Columns w and y         | w    y                     |
|                         | a  251  886                |
|                         | b  326  220                |
|                         | c  166  764                |
|                         | d   94  854                |
|                         | e  979  224                |
| Columns w, x, and y     | w    x    y                |
|                         | a  251  529  886           |
|                         | b  326  901  220           |
|                         | c  166  167  764           |
|                         | d   94  311  854           |
|                         | e  979  687  224           |
| Item at row e, column v | 349                        |

In [8]:
%%timeit
item_ev = df.loc['e', 'v']

19.9 µs ± 4.38 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

You can add a new row to a DataFrame using pd.concat() without providing values for all columns. You can do this by creating a new DataFrame with the desired row values and then concatenating it with the original DataFrame along axis=0 1. For example:

In [16]:
import pandas as pd

# Create an empty DataFrame with columns
df = pd.DataFrame(columns=['A', 'B', 'C'])

# Create a new row as a DataFrame
new_row = pd.DataFrame({'A': [1], 'B': [2]})

# Concatenate the new row with the original DataFrame
df = pd.concat([df, new_row], axis=0, ignore_index=True)

print(results.to_markdown())

|    |   A |   B |   C |
|---:|----:|----:|----:|
|  0 |   1 |   2 | nan |

# pandas df example
1. Create a data frame in which we have three columns: High, Low, and Precip.  There should be 10 rows, one for each of the next 10 days. In each cell, show the high temp, low temp, or precipitation forecast for these days.
2. Create a new column, Diff, which shows the difference in temperature between these days.
3. Find the three days with the greatest temp difference.

In [21]:
import pandas as pd

# creating the data frame with data for the next 10 days
data = {'High': [80, 82, 76, 75, 70, 68, 72, 77, 79, 81],
        'Low': [65, 66, 62, 60, 55, 50, 54, 58, 61, 64],
        'Precip': [0.00, 0.00, 0.20, 0.50, 0.70, 0.30, 0.10, 0.00, 0.00, 0.00]}

df = pd.DataFrame(data)
print(df.to_markdown())

# adding a new column which shows the difference in temperature between high and low temp
df['Diff'] = df['High'] - df['Low']
print(df.to_markdown())

# finding the three days with the greatest temp difference
print(df.sort_values('Diff', ascending=False).head(3))
# Or better would be 
print(df.nlargest(3, 'Diff',keep='all').to_markdown())

|    |   High |   Low |   Precip |
|---:|-------:|------:|---------:|
|  0 |     80 |    65 |      0   |
|  1 |     82 |    66 |      0   |
|  2 |     76 |    62 |      0.2 |
|  3 |     75 |    60 |      0.5 |
|  4 |     70 |    55 |      0.7 |
|  5 |     68 |    50 |      0.3 |
|  6 |     72 |    54 |      0.1 |
|  7 |     77 |    58 |      0   |
|  8 |     79 |    61 |      0   |
|  9 |     81 |    64 |      0   |
|    |   High |   Low |   Precip |   Diff |
|---:|-------:|------:|---------:|-------:|
|  0 |     80 |    65 |      0   |     15 |
|  1 |     82 |    66 |      0   |     16 |
|  2 |     76 |    62 |      0.2 |     14 |
|  3 |     75 |    60 |      0.5 |     15 |
|  4 |     70 |    55 |      0.7 |     15 |
|  5 |     68 |    50 |      0.3 |     18 |
|  6 |     72 |    54 |      0.1 |     18 |
|  7 |     77 |    58 |      0   |     19 |
|  8 |     79 |    61 |      0   |     18 |
|  9 |     81 |    64 |      0   |     17 |
   High  Low  Precip  Diff
7    77   58     0.0    19
5    68   50     0.3    18
6    72   54     0.1    18
|    |   High |   Low |   Precip |   Diff |
|---:|-------:|------:|---------:|-------:|
|  7 |     77 |    58 |      0   |     19 |
|  5 |     68 |    50 |      0.3 |     18 |
|  6 |     72 |    54 |      0.1 |     18 |
|  8 |     79 |    61 |      0   |     18 |

* what happens if my sort has a tie? will i always get the same values if i only select some of the rows with those values? 

** If your sort has a tie, it depends on the implementation of the sorting algorithm you are using. 

Some sorting algorithms may break ties in a deterministic way (e.g. by using a secondary sorting criterion such as alphabetical order of a certain column), while others may leave the order of the tied elements undefined.

If you only select some of the rows with tied values, there is no guarantee that you will always get the same values unless you specify a secondary criterion for the selection. For example, you could select the first five rows in the sorted list, or you could randomly select five rows among those with tied values.

# Exercise: Querying forecasts

1. Create/edit your data frame containing high/low/precip, such that its index will now contain the dates (in the form MMDD).
2. On which days do you find an above-average amount of precipitation?
3. What is the avearage low temp on days where there's an above-average diff in temperatures?

In [22]:
import pandas as pd

# creating the data frame with data for the next 10 days
data = {'High': [80, 82, 76, 75, 70, 68, 72, 77, 79, 81],
        'Low': [65, 66, 62, 60, 55, 50, 54, 58, 61, 64],
        'Precip': [0.00, 0.00, 0.20, 0.50, 0.70, 0.30, 0.10, 0.00, 0.00, 0.00]}

# creating date index
dates = pd.date_range(start=pd.Timestamp.today().strftime('%m/%d/%Y'), periods=10, freq='D')

# creating data frame with date index
df = pd.DataFrame(data, index=dates.strftime('%m%d'))

# finding above-average precipitation days
above_avg_precip = df[df['Precip'] > df['Precip'].mean()]
above_avg_precip_days = ', '.join(above_avg_precip.index)

# calculating average low temp on days with above-average temp difference
temp_diff = df['High'] - df['Low']
above_avg_temp_diff = temp_diff[temp_diff > temp_diff.mean()]
above_avg_temp_diff_days = ', '.join(above_avg_temp_diff.index)
avg_low_temp_above_avg_temp_diff = df.loc[above_avg_temp_diff.index, 'Low'].mean()

# displaying results
print(f"Above-average precipitation days: {above_avg_precip_days}")
print(f"Average low temp on days with above-average temp difference {above_avg_temp_diff_days}: {avg_low_temp_above_avg_temp_diff}")
print(df.to_markdown())

Above-average precipitation days: 0504, 0505, 0506, 0507
Average low temp on days with above-average temp difference 0507, 0508, 0509, 0510, 0511: 57.4
|      |   High |   Low |   Precip |
|-----:|-------:|------:|---------:|
| 0502 |     80 |    65 |      0   |
| 0503 |     82 |    66 |      0   |
| 0504 |     76 |    62 |      0.2 |
| 0505 |     75 |    60 |      0.5 |
| 0506 |     70 |    55 |      0.7 |
| 0507 |     68 |    50 |      0.3 |
| 0508 |     72 |    54 |      0.1 |
| 0509 |     77 |    58 |      0   |
| 0510 |     79 |    61 |      0   |
| 0511 |     81 |    64 |      0   |

# Exercise: Weird taxi rides in pandas

1. Read taxi.csv into a data frame. We only care about three columns: passenger_count, trip_distance, and total_amount.
2. Were there any rides with 0 passengers? How much did people pay, on average, for such rides? How far did they go?
3. Were there any rides where the total fare was <= 0? How many passengers were there, on average, and how far did they go?
4. Were there any rides where they went 0 miles? How much did they pay?

In [27]:
df = pd.read_csv(r'..\exercise-files\mytaxidata.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [30]:
# list files in the current dir on a windows machine
import os
os.listdir()

['Day1.ipynb',
 'Day2.ipynb',
 'Day3.ipynb',
 'Day4.ipynb',
 'Day5.ipynb',
 'Day6.ipynb',
 'Day7.ipynb',
 'Day8.ipynb',
 'Day9.ipynb',
 'utils']

In [38]:
import pandas as pd

# 1. Read taxi.csv
df = pd.read_csv(r'..\exercise-files\mytaxidata.csv', usecols=['passenger_count', 'trip_distance', 'total_amount'])

# 2. Rides with 0 passengers
zero_passengers = df.loc[df['passenger_count'] == 0]
if len(zero_passengers) > 0:
    print(f"There were {len(zero_passengers)} rides with 0 passengers!")
    print("On average they paid ${:.2f} and traveled {:.2f} miles".format(
        zero_passengers['total_amount'].mean(), zero_passengers['trip_distance'].mean()))

# 3. Rides where total fare was <= 0
negative_fare = df.loc[df['total_amount'] <= 0]
if len(negative_fare) > 0:
    print(f"There were {len(negative_fare)} rides with negative or zero fares!")
    print("On average there were {:.2f} passengers and traveled {:.2f} miles".format(
        negative_fare['passenger_count'].mean(), negative_fare['trip_distance'].mean()))

# 4. Rides where they went 0 miles
no_distance = df.loc[df['trip_distance'] == 0]
if len(no_distance) > 0:
    print(f"There were {len(no_distance)} rides with 0 miles!")
    print("They paid an average of ${:.2f}".format(no_distance['total_amount'].mean()))

There were 2 rides with 0 passengers!
On average they paid $25.57 and traveled 4.60 miles
There were 3 rides with negative or zero fares!
On average there were 1.00 passengers and traveled 0.61 miles
There were 67 rides with 0 miles!
They paid an average of $31.58

124